% Common project erlang options.
{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    %  warn_untyped_record, %% FIXME cds_keysharing:share() broken
    warn_export_vars,
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function
]}.

% Common project dependencies.
{deps, [
    {jsx, "2.9.0"},
    {jose, "1.9.0"},
    {recon, "2.3.2"},
    {libdecaf                 , {git, "https://github.com/potatosalad/erlang-libdecaf"       , {branch, master}}}                 ,
    {pooler                   , {git, "git@github.com:seth/pooler.git"                       , {branch, master}}}                 ,
    {scrypt                   , {git, "https://github.com/tonyg/erlang-scrypt"               , {branch, master}}}                 ,
    {shamir                   , {git, "git@github.com:rbkmoney/shamir.git"                   , {branch, master}}}                 ,
    {riakc                    , {git, "https://github.com/rbkmoney/riak-erlang-client.git"   , {branch, develop}}}                ,
    {woody                    , {git, "git@github.com:rbkmoney/woody_erlang.git"             , {branch, master}}}                 ,
    {logger_logstash_formatter, {git, "git@github.com:rbkmoney/logger_logstash_formatter.git", {branch, master}}}                 ,
    {genlib                   , {git, "git@github.com:rbkmoney/genlib.git"                   , {branch, master}}}                 ,
    {how_are_you              , {git, "https://github.com/rbkmoney/how_are_you.git"          , {branch, master}}}                 ,
    {erl_health               , {git, "https://github.com/rbkmoney/erlang-health.git"        , {branch, master}}}                 ,
    {damsel                   , {git, "git@github.com:rbkmoney/damsel.git"                   , {ref, "3d7698189febc3a4bb940b28ddcb20168a281b20"}}},
    {cds_proto                , {git, "git@github.com:rbkmoney/cds-proto.git"                , {branch, master}}}                 ,
    {tds_proto                , {git, "git@github.com:rbkmoney/tds-proto.git"                , {branch, master}}}                 ,
    {msgpack                  , {git, "https://github.com/rbkmoney/msgpack-erlang"           , {branch, master}}}                 ,
    {scoper                   , {git, "git@github.com:rbkmoney/scoper.git"                   , {branch, master}}}                 ,
    {identdocstore_proto      , {git, "git@github.com:rbkmoney/identdocstore-proto.git"      , {branch, master}}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    % locals_not_used,
    deprecated_functions_calls,
    deprecated_functions,
    exports_not_used
]}.

{xref_ignores, [
    {cds_card_storage, get_session_card_data, 2}, % used in tests
    {cds, find_or_create_token, 4}, % used in tests
    {cds_crypto, private_decrypt, 2}, % tests
    {cds_crypto, sign, 2}, % tests
    {cds_hash, start_link, 0},
    {cds_hash, start_scrypt_port, 0},
    {cds_health, keyring, 0},
    {cds_ident_doc_client, get_ident_doc, 2}, % tests
    {cds_ident_doc_client, put_ident_doc, 2}, % tests
    {cds_keyring, start_link, 0},
    {cds_keyring_sup, start_link, 0},
    cds_maintenance,
    {cds_maintenance_sup, start_link, 0},
    {cds_periodic_job, behaviour_info, 1},
    {cds_recrypter, start_link, 1},
    {cds_session_cleaner, start_link, 0},
    {cds_storage, behaviour_info, 1},
    {cds_woody_client, call, 4}, % tests
    {cds_woody_client, call, 5}, % tests
    {cds_card_data, validate, 2} % tests
]}.

{relx, [
    {release, {cds, "0.1.0"}, [
        {recon                    , load}, % tools for introspection
        {runtime_tools            , load}, % debugger
        {tools                    , load}, % profiler
        {libdecaf, load},
        {logger_logstash_formatter, load},
        cds
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        %underspecs,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {overlay, [
                {copy, "script/maintenance", "{{output_dir}}/bin/maintenance"}
            ]}
        ]}
    ]},
    {test, [
    ]},
    {dev, [
        {deps, [
            {sync, ".*", {git, "https://github.com/rustyio/sync", ""}}
        ]},
        {plugins, [
            rebar3_run
        ]}
    ]}
]}.

{plugins, [
    {erlfmt, "0.8.0"},
    {rebar3_thrift_compiler,
        {git, "https://github.com/rbkmoney/rebar3_thrift_compiler.git", {branch, "master"}}}
]}.

{erlfmt, [
    {print_width, 120},
    {files, "apps/*/{src,include,test}/*.{hrl,erl}"}
]}.

{overrides, [
    {override, rebar3_protobuffs_plugin, [
        {deps, [
            {protobuffs, {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.2"}}}
        ]}
    ]},
    {override, protobuffs, [
        {deps, []}
    ]},
    {override, riakc, [
        {erl_opts, [
            {d, namespaced_types},
            {d, deprecated_19}
        ]}
    ]},
    {override, riak_pb, [
        {plugins, [
            {riak_pb_msgcodegen, {git, "git://github.com/tsloughter/riak_pb_msgcodegen", {branch, master}}},
            {rebar3_protobuffs_plugin, {git, "git://github.com/cmkarlsson/rebar3_protobuffs_plugin", {tag, "0.1.1"}}}
        ]},
        {provider_hooks, [
            {pre, [
                {compile, {protobuffs, compile}},
                {compile, riak_pb_msgcodegen}
            ]}
        ]}
    ]},
    {override, hamcrest, [
        {plugins, []}
    ]},
    {override, scrypt, [
        {plugins, [
            {pc, "1.6.0"}
        ]},
        {provider_hooks, [
            {pre, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]},
        {port_env, [
            {"CFLAGS", "-O3 -fomit-frame-pointer -funroll-loops -DHAVE_CONFIG_H"}
        ]},
        {port_specs, [
            {"priv/scrypt", ["priv/scrypt_port/*.c"]}
        ]},
        {post_hooks, []}
    ]}
]}.
