[
    {cds, [
        {scrypt_opts, {16384, 8, 1}},
        {keyring_storage, cds_keyring_storage_env},
        {storage, cds_storage_ets},
        {iin_map, #{
            <<"4026">> => visaelectron,
            <<"417500">> => visaelectron,
            <<"4405">> => visaelectron,
            <<"4508">> => visaelectron,
            <<"4844">> => visaelectron,
            <<"4913">> => visaelectron,
            <<"4917">> => visaelectron,

            <<"5018">> => maestro,
            <<"502">> => maestro,
            <<"503">> => maestro,
            <<"506">> => maestro,
            <<"56">> => maestro,
            <<"58">> => maestro,
            <<"639">> => maestro,
            <<"6220">> => maestro,
            <<"67">> => maestro,

            <<"600">> => forbrugsforeningen,

            <<"5019">> => dankort,

            <<"4">> => visa,

            <<"51">> => mastercard,
            <<"52">> => mastercard,
            <<"53">> => mastercard,
            <<"54">> => mastercard,
            <<"55">> => mastercard,
            <<"22">> => mastercard,
            <<"23">> => mastercard,
            <<"24">> => mastercard,
            <<"25">> => mastercard,
            <<"26">> => mastercard,
            <<"27">> => mastercard,

            <<"34">> => amex,
            <<"37">> => amex,

            <<"30">> => dinersclub,
            <<"36">> => dinersclub,
            <<"38">> => dinersclub,
            <<"39">> => dinersclub,

            <<"60">> => discover,
            <<"64">> => discover,
            <<"65">> => discover,
            <<"622">> => discover,

            <<"62">> => unionpay,
            <<"88">> => unionpay,

            <<"35">> => jcb
        }},
        {validation_parameters, #{
            visaelectron => #{
                length => [16],
                cvv_length => [3],
                luhn => true
            },
            maestro => #{
                length => [12, 13, 14, 15, 16, 17, 18, 19],
                cvv_length => [3],
                luhn => true
            },
            forbrugsforeningen => #{
                length => [16],
                cvv_length => [3],
                luhn => true
            },
            dankort => #{
                length => [16],
                cvv_length => [3],
                luhn => true
            },
            visa => #{
                length => [13, 16],
                cvv_length => [3],
                luhn => true
            },
            mastercard => #{
                length => [16],
                cvv_length => [3],
                luhn => true
            },
            amex => #{
                length => [15],
                cvv_length => [3, 4],
                luhn => true
            },
            dinersclub => #{
                length => [14],
                cvv_length => [3],
                luhn => true
            },
            discover => #{
                length => [16],
                cvv_length => [3],
                luhn => true
            },
            unionpay => #{
                length => [16, 17, 18, 19],
                cvv_length => [3],
                luhn => false
            },
            jcb => #{
                length => [16],
                cvv_length => [3],
                luhn => true
            }
        }}
    ]}
].
