[
	{cds, [
		{riak_host, "192.168.99.100"},
		{riak_port, 32777},
		{scrypt_opts, {16384, 8, 1}},
		{keyring_storage, cds_keyring_file_storage},
		{keyring_location, "/tmp/cdskeyring"},
		{keyring_lock_location, "/tmp/cdslock"},
		{storage, cds_riak_storage}
	]},
	{pooler, [
		{pools, [
			[
				{name, riak1},
				{group, riak},
				{max_count, 5},
				{init_count, 2},
				{start_mfa, {riakc_pb_socket, start_link, ["192.168.99.100", 32769]}}
			],
			[
				{name, riak2},
				{group, riak},
				{max_count, 5},
				{init_count, 2},
				{start_mfa, {riakc_pb_socket, start_link, ["192.168.99.100", 32771]}}
			],
			[
				{name, riak3},
				{group, riak},
				{max_count, 5},
				{init_count, 2},
				{start_mfa, {riakc_pb_socket, start_link, ["192.168.99.100", 32773]}}
			],
			[
				{name, riak4},
				{group, riak},
				{max_count, 5},
				{init_count, 2},
				{start_mfa, {riakc_pb_socket, start_link, ["192.168.99.100", 32775]}}
			],
			[
				{name, riak5},
				{group, riak},
				{max_count, 5},
				{init_count, 2},
				{start_mfa, {riakc_pb_socket, start_link, ["192.168.99.100", 32777]}}
			]
		]}
	]}
].