[
    {cds, [
        {ip, "::"},
        {port, 8022},
        {net_opts, [
            % Bump keepalive timeout up to a minute
            {timeout, 60000}
        ]},
        {scrypt_opts, {16384, 8, 1}},
        {keyring_storage, cds_keyring_storage_env},
        {storage, cds_storage_ets},
        % {storage, cds_storage_riak},
        % {cds_storage_riak, #{
        %     conn_params => #{
        %         host => "riakdb",
        %         port => 8087
        %     },
        %     timeout => 5000 % milliseconds
        % }},
        {session_cleaning, #{
            interval => 3000,
            batch_size => 5000,
            session_lifetime => 3600
        }},
        {recrypting, #{
            interval => 3000,
            batch_size => 5000
        }},
        {health_checkers, [
            {erl_health, disk     , ["/", 99]  },
            {erl_health, cg_memory, [99]       },
            {erl_health, service  , [<<"cds">>]}
        ]},
        {keyring_rotator_timeout, 60000},
        {keyring_initializer_timeout, 60000},
        {shareholders, [
            #{
                id => <<"1">>,
                owner => <<"ndiezel">>,
                public_key => <<"-----BEGIN PUBLIC KEY-----
MIICITANBgkqhkiG9w0BAQEFAAOCAg4AMIICCQKCAgBLFPTHtz+ldYk1HJDI5Xng
F7F9tm6LBVTm5wiw7ezDSCnPGNKDNOsFF5/AiDGiBSRDB2XyGOOoMATl6ZEKLZlO
lS90gUtigTuLL9OkgujptZN5gMu1qfHuVr2cKIU2y1j1JnnbCm7aW7HO7Go11aB+
p8on03Nq/Iw5cw+SsN+dGG/XEjuhvuAVksPBEEhjdHIxYSpzOWUx++DAonXrzz8r
IVhTL0YDYx7CA4Zo+bDYNO0sLhSyS/mo+ryYpnFsroW1Kl9IZ+hjMTv5sTKztYan
VQLOsKNqCewuVJC/FgkGIeQQy8y4DOS9nQ7hCQ5x89gdxmDKP17LSYlgPc04lnPE
XdQmBBVJV8+Rj/L60gEsLb5sVgrsY87rNJfvXUbGLzf8RhkAHybHxAgKphX82rw5
F6iHWbugN+q2QfXbjg7iPGD6ew3mdZVkao4q75DTqZ1xTU+7uicF3spUs9meguQz
RdFFHHesYyXCE98s+0aBeb88ytxocUpcv+nS6KZZoAMq4KuEvR8n89p9znAZjYVC
LJQPkORMzfoCL2HvEQ4GTg6CL/cXwwMjjiThUcdso7eqRT0eG+GFMpILIAb1OQut
7T2F9bAjD4SzCVuY7orIX1BLXiGf4eTkFUp9MxM5k/ZGAdt1B4XhvWv35TlzNdt7
iM80ES1KtAGoR+uwc1xAoQIDAQAB
-----END PUBLIC KEY-----">>
            }
        ]}
    ]},

    {scoper, [
        {storage, scoper_storage_lager}
    ]},

    {lager, [
        {error_logger_redirect, true},
        {crash_log, false},
        {log_root, "/var/log/cds"},
        {handlers, [
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug},
                {formatter, lager_logstash_formatter},
                {formatter_config, [
                    {message_redaction_regex_list, [
                        "[0-9]{12,19}", %% pan
                        "[0-9]{2}.[0-9]{2,4}", %% expiration date
                        "[0-9]{3,4}" %% cvv
                    ]}
                ]}
            ]}
        ]}
    ]}
].
